ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 10px;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}